In [1]:
from proj1_helpers import *
#from implementations import *
#from cross_validation import *
import numpy as np

In [2]:
# Loading Data
print("Loading Data, please wait")
pre_test_y, pre_test_x, ids_test = load_csv_data('data/test.csv')
pre_train_y, pre_train_x, ids_train = load_csv_data('data/train.csv')
print("Data loaded!")

Loading Data, please wait
Data loaded!

In [3]:
# find correlated values
for i in range(0,4):
    print("\n\n\nCorrelated values for: ",i)
    for j in range(0,30):
        print("colum 22 with colum: ",j)
        a=np.corrcoef((pre_test_x[:,22]==i),pre_test_x[:,j])
#         print(a)
        if(a[(0,1)]>0.5):
            print("\tcorrelation:",'\t',a[0,1])

Correlated values for:  0
colum 22 with colum:  0
colum 22 with colum:  1
colum 22 with colum:  2
colum 22 with colum:  3
colum 22 with colum:  4
colum 22 with colum:  5
colum 22 with colum:  6
colum 22 with colum:  7
colum 22 with colum:  8
colum 22 with colum:  9
colum 22 with colum:  10
colum 22 with colum:  11
colum 22 with colum:  12
colum 22 with colum:  13
colum 22 with colum:  14
colum 22 with colum:  15
colum 22 with colum:  16
colum 22 with colum:  17
colum 22 with colum:  18
colum 22 with colum:  19
colum 22 with colum:  20
colum 22 with colum:  21
colum 22 with colum:  22
colum 22 with colum:  23
colum 22 with colum:  24
colum 22 with colum:  25
colum 22 with colum:  26
colum 22 with colum:  27
colum 22 with colum:  28
colum 22 with colum:  29



Correlated values for:  1
colum 22 with colum:  0
colum 22 with colum:  1
colum 22 with colum:  2
colum 22 with colum:  3
colum 22 with colum:  4
colum 22 with colum:  5
colum 22 with colum:  6
colum 22 with colum:  7
colum 22 with colum:  8
colum 22 with colum:  9
colum 22 with colum:  10
colum 22 with colum:  11
colum 22 with colum:  12
colum 22 with colum:  13
colum 22 with colum:  14
colum 22 with colum:  15
colum 22 with colum:  16
colum 22 with colum:  17
colum 22 with colum:  18
colum 22 with colum:  19
colum 22 with colum:  20
colum 22 with colum:  21
colum 22 with colum:  22
colum 22 with colum:  23
	correlation: 	 0.5188651835942603
colum 22 with colum:  24
	correlation: 	 0.5457645325287701
colum 22 with colum:  25
	correlation: 	 0.5457641626904687
colum 22 with colum:  26
colum 22 with colum:  27
colum 22 with colum:  28
colum 22 with colum:  29



Correlated values for:  2
colum 22 with colum:  0
colum 22 with colum:  1
colum 22 with colum:  2
colum 22 with colum:  3
colum 22 with colum:  4
	correlation: 	 0.7846848748508639
colum 22 with colum:  5
	correlation: 	 0.7569082139458511
colum 22 with colum:  6
	correlation: 	 0.7841172196069622
colum 22 with colum:  7
colum 22 with colum:  8
colum 22 with colum:  9
colum 22 with colum:  10
colum 22 with colum:  11
colum 22 with colum:  12
	correlation: 	 0.7844992310934787
colum 22 with colum:  13
colum 22 with colum:  14
colum 22 with colum:  15
colum 22 with colum:  16
colum 22 with colum:  17
colum 22 with colum:  18
colum 22 with colum:  19
colum 22 with colum:  20
colum 22 with colum:  21
colum 22 with colum:  22
	correlation: 	 0.5234648495152081
colum 22 with colum:  23
colum 22 with colum:  24
colum 22 with colum:  25
colum 22 with colum:  26
	correlation: 	 0.7776865650869058
colum 22 with colum:  27
	correlation: 	 0.7844600831600346
colum 22 with colum:  28
	correlation: 	 0.7844620706041472
colum 22 with colum:  29



Correlated values for:  3
colum 22 with colum:  0
colum 22 with colum:  1
colum 22 with colum:  2
colum 22 with colum:  3
colum 22 with colum:  4
colum 22 with colum:  5
colum 22 with colum:  6
colum 22 with colum:  7
colum 22 with colum:  8
	correlation: 	 0.5068189127884684
colum 22 with colum:  9
	correlation: 	 0.5373193380994697
colum 22 with colum:  10
colum 22 with colum:  11
colum 22 with colum:  12
colum 22 with colum:  13
colum 22 with colum:  14
colum 22 with colum:  15
colum 22 with colum:  16
colum 22 with colum:  17
colum 22 with colum:  18
colum 22 with colum:  19
colum 22 with colum:  20
colum 22 with colum:  21
	correlation: 	 0.5055713982679929
colum 22 with colum:  22
	correlation: 	 0.6461222708966406
colum 22 with colum:  23
colum 22 with colum:  24
colum 22 with colum:  25
colum 22 with colum:  26
colum 22 with colum:  27
colum 22 with colum:  28
colum 22 with colum:  29
	correlation: 	 0.5792792546045494

In [4]:
# In the dateset, we found that the Column[22] PRI_jet_num dataset is categorical with Four categories defined.
column_jet_pri = 22
pred_y = []
ids_pred_y = []

# Correlated features corresponding to categorical feature, PRI_jet_num. We will split in four groups according to
#the categorical values.
correlated_features = [[22], [22,23,24,25], [4,5,6,12,22,26,27,28], [8,9,21,22,29]]

for corr_jets in range(0, 4):
    print("\nCategorical Training for value: ",corr_jets)

    # Save data for the categorical value of PRI_jet_num = i
    test_x = pre_test_x[pre_test_x[:, column_jet_pri] == corr_jets]
    test_y = pre_test_y[pre_test_x[:, column_jet_pri] == corr_jets]
    id_test = ids_test[pre_test_x[:, column_jet_pri] == corr_jets]

    train_x = pre_train_x[pre_train_x[:, column_jet_pri] == corr_jets]
    train_y = pre_train_y[pre_train_x[:, column_jet_pri] == corr_jets]
    id_train = ids_train[pre_train_x[:, column_jet_pri] == corr_jets]
#     print("\ntrain_x: \n", train_x)
    print("\nNow we will remove the correlated features of corr_jets =i: ", corr_jets)
    # Delete the correlted features of corr_jets = is
    test_x = np.delete(test_x, correlated_features[corr_jets], axis=1)
    train_x = np.delete(train_x, correlated_features[corr_jets], axis=1)

Categorical Training for value:  0

Now we will remove the correlated features of corr_jets =i:  0

Categorical Training for value:  1

Now we will remove the correlated features of corr_jets =i:  1

Categorical Training for value:  2

Now we will remove the correlated features of corr_jets =i:  2

Categorical Training for value:  3

Now we will remove the correlated features of corr_jets =i:  3

In [5]:
print("Now we will remove the invalid values =-999")
# Remove the invalid value and replace it with the mean of the column.
train_x = remove_outliers_max(train_x)
test_x = remove_outliers_max(test_x)
train_x.min()

Now we will remove the invalid values =-999

-15.347

In [6]:
print("Now we will remove the outliers and replace them with the most frecuent number.")
# Replaces outliers by the most common element in the column.
train_x = remove_outliers(train_x)
test_x = remove_outliers(test_x)
test_x.min()

Now we will remove the outliers and replace them with the most frecuent number.

-5.092